<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- PC의 개발 서버는 HTTP라 디버그 빌드에서만 평문 통신을 연다. 작업 005 설계 6절 -->
    <application android:usesCleartextTraffic="true"/>
</manifest>
